# Cấu hình Database
DB_HOST=db
DB_PORT=3306
DB_NAME=bike_db
DB_USER=root
DB_PASSWORD=root

# Cấu hình App
APP_URL=http://localhost:8888
APP_ENV=local

# JWT Secret (Cho BE1 - Ceasar)
JWT_SECRET=your_jwt_secret_key_here
