# ========================
# NODE MODULES
# ========================
node_modules/


# ========================
# LOG FILES
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# BUILD / CACHE
# ========================
dist/
build/
.cache/

# ========================
# TEMP FILES
# ========================
*.tmp
*.log